<html>
	<head>
		<script src="lib/angular/angular.min.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body ng-app="myAddressBook">
		<div class="app-title">
			<h1>
				Contactical
			</h1>
			<h2>
			    The Ironclad Address Book
			</h2>
		</div>
		<div ng-controller="ContactsController as list" class="contact-list inline-module">
			<div ng-repeat='contact in list.contacts'>
        <h4>
          <span class="contact-name">{{contact.name | proper}}</span>
          <avatar name="contact.name"></avatar>
        </h4>
        <p> {{contact.occupation}}</p>
        <p>
          <a href="mailto:{{contact.email}}">
            {{contact.email}}
          </a>
         </p>
			</div>
		</div>
		<div ng-controller="AddContact as add" class="add-contact inline-module" name="contactForm">
	    <form ng-submit="add.addContact( contactForm )">
            <h3>Add A New Contact</h3>	
            <label>
                Name (Req'd)
                <input required type="text" ng-model="add.newContact.name">
            </label>
            <label>
                Age
                <input type="number" ng-model="add.newContact.age">
            </label>
            <label for="occupation">
                Occupation
                <input type="text" ng-model="add.newContact.occupation">
            </label>
            <label for="">
                Email (Req'd)
                <input type="email" required ng-model="add.newContact.email">
            </label>
            <label for="submit">
                Add New Contact
                <input type="submit" id="submitNewContact">	
            </label>
            <div class="warning" ng-if="errorMessage">Please check the information and try again.</div>
        </form>
	</div>
		<script src="app/app.js"></script>
	</body>
</html>